@font-face {
  font-family: 'Alibaba PuHuiTi 2.0 55 mini';
  src: url('/fonts/mini/AlibabaPuHuiTi_2_55_Regular.woff2') format('woff2'),
    url('/fonts/mini/AlibabaPuHuiTi_2_55_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alibaba PuHuiTi 2.0 65 mini';
  src: url('/fonts/mini/AlibabaPuHuiTi_2_65_Medium.woff2') format('woff2'),
    url('/fonts/mini/AlibabaPuHuiTi_2_65_Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Lato Regular'), url('/fonts/Lato-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Lato Bold'), url('/fonts/Lato-Bold.woff') format('woff');
}
#app {
  font-family: 'Lato Regular', 'Alibaba PuHuiTi 2.0 55 mini', 'Lato Bold', 'Alibaba PuHuiTi 2.0 65 mini';
}
